.userPageWrapper {
  margin-top: 100px;
}

.cardWrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.userCard {
  margin: 20px;
  width: 40%;
  border-radius: 8px;
  background-color: bisque;
  box-shadow: 0 0 10px #ccc;
  padding: 20px;
}
